VITE_BACKEND_BASE_URL=http://localhost:8000/api
VITE_API_URL=http://localhost:8000/api
VITE_ACCESS_TOKEN_KEY=access_token
VITE_REFRESH_TOKEN_KEY=refresh_token
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_URL=https://api.cloudinary.com/v1_1/your_cloud_name/image/upload
VITE_CLOUDINARY_UPLOAD_PRESET=your_unsigned_preset
